name: Documentation

on:
  push:
    branches: [main]

jobs:
  make-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"

      - name: Install the project
        run: uv sync --group docs

      - name: Build Sphinx documentation
        run: uv run sphinx-build docs/ docs/_build/

      - name: Deploy on GitHub Pages
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/
          force_orphan: true
          full_commit_message: ${{ github.event.head_commit.message }}
